{% extends 'ingApp/index.html' %}

{% block title %}Detalle del Alumno{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/detalles.css' %}">
<h2>Detalle del Alumno</h2>

<div class="alumno-container">
    <!-- Información del Alumno (Izquierda) -->
    <div class="info-alumno">
        <div class="card">
            <div class="card-body">
                <h4>Información del Alumno</h4>
                <p><strong>Nombre:</strong> {{ alumno.nombre }} {{ alumno.apellido }}</p>
                <p><strong>RUN:</strong>{{alumno.run}}</p>
                <p><strong>Fecha de Nacimiento:</strong> {{ alumno.fecha_nacimiento }}</p>
                <p><strong>Etnia:</strong> {{ alumno.etnia }}</p>
                <p><strong>Colegio de Procedencia:</strong> {{ alumno.colegio_procedencia }}</p>
                <p><strong>Beneficio JUNAEB:</strong> {{ alumno.beneficio_junaeb }}</p>
                <p><strong>Sistema de Salud:</strong> {{ alumno.sistema_salud }}</p>
            </div>
        </div>
    </div>

    <!-- Información del Apoderado (Derecha) -->
    <div class="info-apoderado">
        <div class="card">
            <div class="card-body">
                <h4>Información del Apoderado</h4>
                {% if alumno.apoderado %}
                    <p><strong>Nombre:</strong> {{ alumno.apoderado.nombre }} {{ alumno.apoderado.apellido }}</p>
                    <p><strong>RUN:</strong> {{ alumno.apoderado.run }}</p>
                    <p><strong>Teléfono de Emergencia:</strong> {{ alumno.numero_emergencia }}</p>
                    <p><strong>Nacionalidad:</strong> {{ alumno.apoderado.nacionalidad }}</p>
                    <p><strong>Domicilio:</strong> {{ alumno.apoderado.domicilio }}</p>
                    <p><strong>Oficio:</strong> {{ alumno.apoderado.oficio }}</p>
                {% else %}
                    <p>El alumno no tiene un apoderado registrado.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Botones para actualizar y eliminar -->
<div class="buttons">
    <a href="#" class="btn btn-primary">Actualizar</a>
    <a href="{% url 'eliminar_alumno' alumno.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este alumno?')">Eliminar</a>
    <a href="{% url 'lista_alumnos' %}" class="btn btn-secondary">Volver a la lista</a>
</div>

{% endblock %}

