<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Lista Lateral</title>
    {% load static %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJ6H7T0znbm4Wn3KryE+uU1r+Ug7W5u5btK5dWVJ6dTYfR0HjSSv/5MW7ZFM" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    
    <div class="container">

        <div class="sidebar">
            <h2 id="list-title">Lista de Opciones</h2>
            <ul>
                <li>
                    <a href="{% url 'index' %}" class="menu-link {% if request.path == '/' %}active{% endif %}">
                        <i class="bi bi-house-door" style="padding-right: 15px; color: #200769; font-size: 24px;"></i> Inicio
                    </a>
                </li>
                <li><a href="#" class="menu-link"><i class="bi bi-pencil" style="padding-right: 15px; color: #200769; font-size: 24px;"></i> Matricula</a></li>
                <li><a href="#" class="menu-link"><i class="bi bi-hospital" style="padding-right: 15px; color: #200769; font-size: 24px;"></i> Emergencias</a></li>
                <li><a href="#" class="menu-link"><i class="bi bi-list-ul" style="padding-right: 15px; color: #200769; font-size: 24px;"></i> Lista Alumnos</a></li>
            </ul>
        </div>

        <div class="main-content">
            <nav class="nav-bar" style="background-color: white;">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right" style="padding-right: 8px;"></i> Cerrar sesión
                        </a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        {% endif %}
            </nav>
            <h1>Bienvenido a la página</h1>
            <p>Esta es la sección principal de la página, donde puedes agregar más contenido dinámico.</p>
            <hr>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqHvL0bB+2R+57ZT9xaMhZfNjq7ZjjU3ckf7mFzLfHbgp" crossorigin="anonymous"></script>
    <script>
        const menuLinks = document.querySelectorAll('.menu-link');
        menuLinks.forEach(link => {
            link.addEventListener('click', function() {
                menuLinks.forEach(item => item.classList.remove('active'));
                this.classList.add('active');
            });
        });
    </script>    
</body>
</html>

