{% extends 'ingApp/index.html' %}

{% block title %}Lista de Alumnos{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <h2>Lista de Alumnos</h2>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Alumno</th>
                <th>Apoderado</th>  <!-- Nueva columna para el apoderado -->
                <th>Fecha de Nacimiento</th>
                <th>Etnia</th>
                <th>Emergencia</th>
                <th>Colegio</th>
                <th>Beneficio JUNAEB</th>
                <th>Sistema de Salud</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>  <!-- Nombre completo del alumno -->
                
                <!-- Apoderado -->
                <td>
                    {% if alumno.apoderado %}
                        {{ alumno.apoderado.nombre }} {{ alumno.apoderado.apellido }}  <!-- Nombre completo del apoderado -->
                    {% else %}
                        No tiene apoderado  <!-- En caso de no tener apoderado -->
                    {% endif %}
                </td>
                
                <td>{{ alumno.fecha_nacimiento }}</td>
                <td>{{ alumno.etnia }}</td>
                <td>{{ alumno.numero_emergencia }}</td>
                <td>{{ alumno.colegio_procedencia }}</td>
                <td>{{ alumno.beneficio_junaeb }}</td>
                <td>{{ alumno.sistema_salud }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9">No hay alumnos registrados</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
