/* Estilos para la tabla de la lista de alumnos */
.table-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f7fb;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #200769;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

table td a {
    color: #007bff;
    text-decoration: none;
}

table td a:hover {
    text-decoration: underline;
}

/* Estilos para el botón de agregar nuevo alumno */
.add-alumno-btn {
    background-color: #200769;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin: 10px 0;
}

.add-alumno-btn:hover {
    background-color: #200769;
}
